.App-bar {
  width: auto;
  height: auto;
  padding: 10px;
  margin: 10px;
}

.App-button  {
  margin-right: 5px;
}

.Single-Plan {
  background-color: #39d45a69;
  margin: 5px;
  padding: 2px;
  box-shadow: 2px 2px 1px 0px #999999c7;
}
