.App-bar {
  width: auto;
  height: auto;
  padding: 10px;
  margin: 10px;
}

.App-button {
    margin-right: 5px;
    width: 60px;
    height: 40px;
    background-color: #eeeeee;
    border-radius: 3px;
    box-shadow: 3px 3px 5px 0px #6d6d6d;;
    cursor: pointer;
}

.App-button:hover {
    margin-right: 5px;
    width: 60px;
    height: 40px;
    background-color: #C5E5FF;
    border-radius: 3px;
    box-shadow: 3px 3px 5px 0px #6d6d6d;
    cursor: pointer;
}

.App-button:focus {
  outline: none;
}

.App-button-icon {
  width: 20px;
  height: 20px;
}

.App-icon-addUser {
  background-color: #e0e0e0;
  box-shadow: 1px 2px 1px 0px #ada7a7;
  width: 50px;
  height: 50px;
  border-radius: 30px;
}

.Single-Plan {
  background-color: #39d45a69;
  margin: 5px;
  padding: 6px;
  box-shadow: 2px 2px 1px 0px #999999c7;
  float: left;
  z-index: 1;
}

.Single-Plan:hover {
  background-color: #efe586;
  z-index: 1;
  margin: 5px;
  padding: 6px;
  box-shadow: 2px 2px 1px 0px #999999c7;
  float: left;
  z-index: 1;
}

.Plan-Icon-Close {
  width: 15px;
  height: 15px;
  margin-left: 8px;
  float: right;
  cursor: pointer;
}
