.App-bar {
  width: auto;
  height: auto;
  padding: 10px;
  margin: 10px;
}

.App-button  {
  padding: 10px;
  margin-right: 5px;
  background-color: transparent;
  border: 1px solid black;
  cursor: pointer;
}
