.WeeklyCalendar {
  background: #eee;
  margin-left: 20px;
}

.WeeklyCalendar-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.WeeklyCalendar-table th {
  text-align: center;
}

.WeeklyCalendar-table th,
.WeeklyCalendar-table td {
  border: 2px solid #fff;
  padding: 4px 8px;
}

.WeeklyCalendar-table-tr-th-local {
  background-color: #73BCE8;
}

table thead tr th:first-child, table thead tr th:last-child {
  background-color: white;
}

table thead tr th:first-child:hover, table thead tr th:last-child:hover {
  color: #73BCE8;
  text-align: center;
  cursor: pointer;
}

.App-title {
  text-align: center;
}

.Td-week-empty {
  background-color: white;
}

.Td-week:hover {
  background-color: #C5E5FF;
  cursor: pointer;
  z-index: 0;
}

.WeeklyCalendar-table:focus {
  outline: none;
}

.Delete-Button {
  padding: 5px;
  margin-right: 2px;
  cursor: pointer;
}
